

Temp/
 
Obj/
 
UnityGenerated/
 
Library/

ExportedObj/
 
*.svd
 
*.userprefs
 
*.csproj
 
*.pidb
 
*.suo
 
*.sln
 
*.user
 
*.unityproj
 
*.booproj


**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**[Bb]uilds/
**/[Ll]ogs/
**/[Mm]emoryCaptures/

/[Aa]ssets/VR Beginner*