Assembly-CSharp.csproj filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
ProjectSettings filter=lfs diff=lfs merge=lfs -text
UserSettings filter=lfs diff=lfs merge=lfs -text
user.keystore filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-Editor.csproj filter=lfs diff=lfs merge=lfs -text
Temp filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-firstpass.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Samples.StarterAssets.csproj filter=lfs diff=lfs merge=lfs -text
obj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Samples.DeviceSimulator.csproj filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
Logs filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project[[:space:]](1).sln filter=lfs diff=lfs merge=lfs -text
Packages filter=lfs diff=lfs merge=lfs -text
VR_education_airplane_simulation.sln filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-Editor-firstpass.csproj filter=lfs diff=lfs merge=lfs -text
VR_education_airplane_simulation/Library/* filter=lfs diff=lfs merge=lfs -text
